
html, body {
    height: 100%
}
.hidden {
    display: none;
}
.content {
    width: 100%;
    height: 100%;
}
.big-btn {
    padding-top: 20px;
    padding-bottom: 20px;
}
#start-button {
    width: 35vh;
    height: 35vh;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
}

#confirm-button {
    margin-left: 5px;
}
img {
    width: 100%
}

#canvas-container {
    margin-bottom: 16px;
    height: 720px;
    pointer-events: none;
}
#canvas {
    pointer-events: auto;
    position: absolute;
    left: 50%;
    margin-left: -640px;
    border:1px solid #000000;
    clear: both;
}

.drawable {
    cursor: crosshair;
}

.rectangle {
    border: 1px solid #FF0000;
    position: absolute;
}
